html, body{
    width: 100%;
    height:100%;
    padding: 0px;
    margin: 0px;
}
body>*{
    margin:0px;
    padding:2px;
}
#messageInput{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    border: 2px solid green;
    /*overflow-x:scroll;
    overflow-y:hidden;*/
}

#messageBox{
    position: fixed;
    top: 0px;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}
.sender {
    color:purple;
}