{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock head %}
{% block body %}
<body>
  <ul id="messageBox" class="w3-pale-yellow" >
  </ul>
  <div contenteditable=true id="messageInput" ></div>
</body>
{% endblock body %}
