{% extends "layout.html" %}
{% block body %}
<body class='w3-third'>
<div class='w3-card-4'>
  <div class='w3-container w3-blue'><h4 class='w3-animate-left'>Remove one character</h4></div>
  <form action='/remove' method='GET' class='w3-form'>
    <input type='text' name='remove' placeholder='enter the raw text' class='w3-input'/><br/>
    <input type='submit' class='w3-btn w3-red w3-hover-indigo'/>
    <div>Result: <span class='w3-text-deep-purple'>{{ remove }}</span></div>
  </form>
</div>
<div class='w3-card-4'>
  <div class='w3-container w3-purple'><h4 class='w3-animate-left'>Fill in one character</h4></div>
  <form action='/fillin' method='GET' class='w3-form'>
    <input type='text' name='fillin' placeholder='specify the missing char by *' class='w3-input'/><br/>
    <input type='submit' class='w3-btn w3-red w3-hover-indigo'/>
    <div>Result: <span class='w3-text-deep-purple'>{{ fillin }}</span></div>
  </form>
</div>
<div class='w3-container w3-right-align w3-grey'>Copyright Che Tiep Chan Khoa (lichkingharass@gmail.com)</div>
</body>
{% endblock body %}
