<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}IOE{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="icon" href="http://ioe.go.vn/Images/Logo_icon.ico">
    {% endblock head %}
  </head>
  {% block body %}
  {% endblock body %}
</html>
